@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #d10808d2;
  min-height: 119vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-style: italic;
  font-family: 'Lobster', cursive;
  ;
}

.brandText{
  font-family: 'Lobster', cursive;
  color: white;
  text-decoration: none;
  text-shadow: black;
}

.me-auto{
  margin-left: 45vh;
  margin-right: 20vh;
}

.cartIcon{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 70vh;
}

.cartIcon:hover{
  border-radius: 15px;
  background-color: lightcoral;
}

.userAvatar{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

.carru {
  width: 100%;
  height: 100vh;
}


.carru h1{
  color: black;
  opacity: 0.95;
  font-size: 150px;
  padding-bottom: 10vh;
  font-family: 'Lora', serif;
}

.carru p{
  padding-bottom: 20vh;
  font-size: 65px;
  color: #302e2eea;
}